<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jeu.css">
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
    <title>Jeu Multi</title>
</head>
<body>

    <nav class="navbar-perso">
        <div>Bataille navale</div>
        <div>
            <label class="username"></label><br>
            <button type="button" id="leave-chat" data-username="" class="btn btn-warning btn-sm">Déconnexion</button>
        </div>
    </nav>

    
    
</body>
</html>