{% extends '../layout.twig' %}

{% block body %}
<div id="game_screen" class="container">
    <h2>Personnes connectés : </h2>
    <div id='nobody'><em>Aucune personne pour le moment...</em></div>
    <div id="list_users" class="list-group">
    </div>

    <div id="game">
        <h4 id="consignes"></h4>
            
        <div id="tableau-J0" class="tableaux">
    
        </div>
    
        <div id="tableau-J1" class="tableaux">
        
        </div>        
    </div>
</div>

<!-- New défi -->
<div class="modal fade bd-example-modal-sm" id="newDefi">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Nouveau défi</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><span id="nom_defieur"></span> vous défi à la bataille navale !</p>
            <p>Si vous acceptez, vous allez jouer sur une grille de <span class="nb_cases_choisies"></span> par <span class="nb_cases_choisies"></span></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" id="btnAcceptDefi">Accepter</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Refuser</button>
        </div>
        </div>
    </div>
</div>

<!-- Attente adversaire -->
<div class="modal fade bd-example-modal-sm" id="attenteAdversaire">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">En attente de l'adversaire</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">                
            <p style="text-align: center;"><img style="height:60px;" src="https://i.pinimg.com/originals/58/4b/60/584b607f5c2ff075429dc0e7b8d142ef.gif"/></p>
            <p style="text-align: center;">En attente de l'acceptation du défi par l'adversaire...</p>
            <p style="text-align: right;">Fermeture dans 10 secondes...</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Annuler le défi</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}