{% extends '../layout.twig' %}

{% block body %}
  <div id="login_screen" user_id="1">
      <div class="container">
          <div class="row login_box">
              <div class="col-md-12 col-xs-12" align="center">
                  <div class="line"><h3>12 : 30 AM</h3></div>
                     
                  <h1>Hi Guest</h1>
                  <span>FRANCE</span>
              </div>
              <div class="outter"><img src="img/logo.png" class="image-circle"/></div>
              <div class="col-md-6 col-xs-6 follow line" align="center">
                  <h3>
                          <span id="nb_users_connected">0</span> <br/> <span>connectés</span>
                  </h3>
              </div>
              <div class="col-md-6 col-xs-6 follow line" align="center">
                  <h3>
                      <span id="nb_joueurs_en_jeu">0</span> <br/> <span>joueurs</span>
                  </h3>
              </div>
              
              <div class="col-md-12 col-xs-12 login_control">
                  <div class="control">
                      <div class="label">Pseudo</div>
                      <input type="text" class="form-control" id="username" name="username" value="test1" autofocus/>
                  </div>
                  <div class="control">
                      <div class="label">Password</div>
                      <input type="password" class="form-control" value="0000"/>
                  </div>
                  <div align="center">
                      <button class="btn btn-orange" id="join-chat">PLAY</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}